automation/n8n/workflows/service-request-processing.json
{"name":"service-request-processing","nodes":[{"parameters":{"httpMethod":"POST","path":"service-request","responseMode":"responseNode","options":{}},"id":"Webhook","name":"Signed Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0]},{"parameters":{"method":"POST","url":"={{$env.SERVICEFLOW_API_URL}}/automation/classify","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-serviceflow-signature","value":"={{$json.headers['x-serviceflow-signature']}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{$json.body}}"},"id":"Classify","name":"Classify with API","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[260,0],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"={{$env.SERVICEFLOW_API_URL}}/tickets","sendBody":true,"specifyBody":"json","jsonBody":"={\"customer_name\":\"{{$node['Signed Webhook'].json.body.customer_name}}\",\"customer_email\":\"{{$node['Signed Webhook'].json.body.customer_email}}\",\"customer_phone\":\"{{$node['Signed Webhook'].json.body.customer_phone || ''}}\",\"device_type\":\"{{$node['Signed Webhook'].json.body.device_type}}\",\"device_model\":\"{{$node['Signed Webhook'].json.body.device_model || ''}}\",\"description\":\"{{$node['Signed Webhook'].json.body.description}}\"}"},"id":"CreateTicket","name":"Create Ticket","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[520,0],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"={{$env.SERVICEFLOW_API_URL}}/automation/runs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-serviceflow-signature","value":"={{$node['Signed Webhook'].json.headers['x-serviceflow-signature']}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"workflow_name\":\"service-request-processing\",\"correlation_id\":\"{{$execution.id}}\",\"ticket_id\":\"{{$json.id}}\",\"status\":\"completed\",\"attempt\":1}"},"id":"RecordRun","name":"Record Workflow Result","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[780,0]},{"parameters":{"respondWith":"json","responseBody":"={{$node['Create Ticket'].json}}"},"id":"Response","name":"Return Ticket","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1040,0]}],"connections":{"Signed Webhook":{"main":[[{"node":"Classify with API","type":"main","index":0}]]},"Classify with API":{"main":[[{"node":"Create Ticket","type":"main","index":0}]]},"Create Ticket":{"main":[[{"node":"Record Workflow Result","type":"main","index":0}]]},"Record Workflow Result":{"main":[[{"node":"Return Ticket","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","errorWorkflow":"error-handler"}}
